<div class="container-fluid d-flex justify-content-center mt-lg-5 mt-1">
  <h1>New Report</h1>
</div>

<%= render 'form', report: @report %>

<nav class="container-fluid mt-3 mb-5">
  <div class="row">
    <div class="col-12 text-center text-upperase text-info">
      <%= link_to "Back", :back, class: 'text-uppercase text-info' %>
    </div>
  </div>
</nav>
